html {
  background-color: #fff;
  margin: 10px 100px;
  padding: 10px 100px 100px;
}

body {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 auto;
  border-radius: 50px;
  border: 3px solid #fff;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  background-repeat: no-repeat;
}
.container-search {
  margin: 20px;
  text-align: center;
  max-width: 1024px;
  display: inline-flex;
  position: relative;
  left: 190px;
  font-family: "Courier New", Courier, monospace;
}

.location {
  display: inline;
  position: relative;
  left: 170px;
  background-color: transparent;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid black;
  border-radius: 5px;
}

input {
  color: #000;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid black;
}

.city {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin-left: 40px;
  margin-top: 40px;
  line-height: 30px;
  text-transform: capitalize;
}

.currentDay,
.currentTime {
  font-style: italic;
  text-align: left;
  margin-left: 50px;
  font-size: 20px;
  line-height: 50px;
}

.currentEmoji img {
  width: auto;
  position: relative;
  left: 90px;
  top: 20px;
}

.dayTemp {
  font-size: 60px;
  position: relative;
  left: 95px;
  top: 40px;
  font-size: 80px;
  margin: 0 auto;
}

.celsius-fahrenheit {
  font-size: 16px;
  position: relative;
  left: 310px;
  bottom: 70px;
  text-decoration: none;
}

.celsius-fahrenheit .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.celsius-fahrenheit .active:hover {
  text-decoration: none;
}

.humidity,
.precipitation,
.feelsLike,
.feelsType,
.humidPercent {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  left: 400px;
  bottom: 80px;
  font-weight: bold;
}

.sky {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  font-weight: bold;
  left: 400px;
  bottom: 80px;
  text-transform: capitalize;
}

.week-days {
  position: relative;
  bottom: 20px;
  padding: 10px auto;
  display: inline-flex;
  text-align: center;
  margin-left: 80px;
}

.days {
  padding: 20px 10px;
  border: 1px solid #757a79;
  border-radius: 10px;
  margin: 0 3px;
  text-align: center;
  max-width: 1024px;
}

.weekday {
  font-size: 15px;
}
.week-day-image {
  font-size: 15px;
  max-width: 1024px;
}

.maxtemp,
.mintemp {
  font-size: 12px;
  line-height: 15px;
  display: inline;
}
.maxtemp {
  font-weight: bold;
}

.codedBy {
  display: inline;
  font-style: italic;
  position: relative;
  left: 30px;
  top: 20px;
}

.hostedLink {
  position: relative;
  left: 200px;
  display: inline;
  top: 20px;
}
